[project]
	description = porting jgit to android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MistLiao
[access "refs/for/refs/*"]
	read = group user/MistLiao
	push = group user/MistLiao
	label-Code-Review = -2..+2 group user/MistLiao
	label-Verified = -1..+1 group user/MistLiao
	rebase = group user/MistLiao
	removeReviewer = group user/MistLiao
	submit = group user/MistLiao
[access "refs/heads/*"]
	read = group user/MistLiao
	create = group user/MistLiao
	push = +force group user/MistLiao
	pushMerge = group user/MistLiao
[access "refs/tags/*"]
	push = +force group user/MistLiao
	pushTag = group user/MistLiao
	pushSignedTag = group user/MistLiao
